@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

::-webkit-scrollbar {
    width: 0px;
    height: 0px;
}

img {
    width: 100vw;
}

a {
    display: block;
    background-color: rgb(0, 0, 80);
    color: white;
    padding: 20px;
    text-align: center;
    font-weight: bolder;
    text-decoration: none;
}

.acesse:hover {
    background-color: blue;
}

.menu {
    background-color: #3A3A3A;
    padding: 0px;
    margin: 0px;
    
}
.menu img{
    width: 50px;
    
}